---
import {getCollection} from "astro:content";
import type {Page, GetStaticPathsOptions} from "astro";
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/blog/PostCard.astro";
import Pagination from "../../components/blog/Pagination.astro";

interface Props {
    page: Page
}

const pageSize = 10
export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
    const blogEntries = await getCollection('blog');
    return paginate(blogEntries, {
        pageSize: 10
    });
}

const {page} = Astro.props;
---
<Layout title="Blog" showBrand={true} showLocale={false}>
    <main class="container">
        <h1 class="title mb-b">Blog</h1>
        <div class="posts">
            {
                page.data.map((post) => (
                        <PostCard post={post.data} slug={post.slug}/>
                ))
            }
        </div>

        {page.total > pageSize &&
                <Pagination page={page}/>
        }
    </main>
</Layout>
