---
import "@styles/main.scss"
import "vanilla-cookieconsent/dist/cookieconsent.css"
import Meta from "../components/Meta.astro";
import Navbar from "../components/PageHeader.astro";
import PageFooter from "../components/PageFooter.astro";

interface Props {
    title?: string;
    showBrand?: boolean;
    showLocale?: boolean
}

const {title, showBrand = false, showLocale = true} = Astro.props;
const pageTitle = "Stefano Pulze" + (title ? ` - ${title}` : "");
const lang = Astro.currentLocale
---
<html lang={lang}>
<head>
    <Meta/>
    <title>{pageTitle}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/fav/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<Navbar showBrand={showBrand} showLocale={showLocale}/>
<slot></slot>
<PageFooter/>

{import.meta.env.PROD &&
<script is:inline data-service="Google Analytics" type="text/plain" data-category="analytics"
        src="https://www.googletagmanager.com/gtag/js?id=G-GZEH8CJ8G0"></script>
<script is:inline data-service="Google Analytics" type="text/plain" data-category="analytics">
    window.dataLayer = window.dataLayer || [];
    function gtag(){window.dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-GZEH8CJ8G0', { 'anonymize_ip': true});
</script>

<script>
    import {run} from 'vanilla-cookieconsent';

    run({
        autoClearCookies: true,
        categories: {
            necessary: {
                enabled: true,
                readOnly: true
            },
            analytics: {
                enabled: true,
            }
        },
        language: {
            default: 'it',
            translations: {
                'en': './cookie-consent-en.json',
                'it': './cookie-consent-it.json'
            }
        }
    });
</script>
}
</body>
</html>
